root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2
# shfmt: switch case body indented
switch_case_indent = true

[.githooks/**]
indent_style = space
indent_size = 2
# shfmt: switch case body indented
switch_case_indent = true

[.mise/tasks/**]
indent_style = space
indent_size = 2
# shfmt: switch case body indented
switch_case_indent = true
