# Store image assets in Git LFS.
*.[aA][pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[aA][fF][dD][eE][sS][iI][gG][nN] filter=lfs diff=lfs merge=lfs -text
*.[aA][fF][pP][hH][oO][tT][oO] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI] filter=lfs diff=lfs merge=lfs -text
*.[aA][rR][wW] filter=lfs diff=lfs merge=lfs -text
*.[aA][rR][iI] filter=lfs diff=lfs merge=lfs -text
*.[aA][sS][tT][cC] filter=lfs diff=lfs merge=lfs -text
*.[aA][vV][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[bB][aA][yY] filter=lfs diff=lfs merge=lfs -text
*.[bB][aA][sS][iI][sS] filter=lfs diff=lfs merge=lfs -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
*.[bB][rR][aA][wW] filter=lfs diff=lfs merge=lfs -text
*.[bB][wW] filter=lfs diff=lfs merge=lfs -text
*.[cC][aA][pP] filter=lfs diff=lfs merge=lfs -text
*.[cC][lL][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[cC][rR]2 filter=lfs diff=lfs merge=lfs -text
*.[cC][rR]3 filter=lfs diff=lfs merge=lfs -text
*.[cC][rR][wW] filter=lfs diff=lfs merge=lfs -text
*.[cC][sS][pP] filter=lfs diff=lfs merge=lfs -text
*.[cC][uU][rR] filter=lfs diff=lfs merge=lfs -text
*.[dD][cC][rR] filter=lfs diff=lfs merge=lfs -text
*.[dD][cC][sS] filter=lfs diff=lfs merge=lfs -text
*.[dD][dD][sS] filter=lfs diff=lfs merge=lfs -text
*.[dD][iI][bB] filter=lfs diff=lfs merge=lfs -text
*.[dD][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][rR][fF] filter=lfs diff=lfs merge=lfs -text
*.[eE][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[eE][mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[eE][rR][fF] filter=lfs diff=lfs merge=lfs -text
*.[eE][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][rR] filter=lfs diff=lfs merge=lfs -text
*.[fF][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[fF][iI][gG] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[gG][pP][rR] filter=lfs diff=lfs merge=lfs -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[hH][dD][rR] filter=lfs diff=lfs merge=lfs -text
*.[hH][dD][pP] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][cC] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][cC][sS] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][fF][sS] filter=lfs diff=lfs merge=lfs -text
*.[hH][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][nN][sS] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
*.[iI][iI][qQ] filter=lfs diff=lfs merge=lfs -text
*.[jJ]2[kK] filter=lfs diff=lfs merge=lfs -text
*.[jJ][fF][iI] filter=lfs diff=lfs merge=lfs -text
*.[jJ][fF][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[jJ][fF][iI][fF][sS] filter=lfs diff=lfs merge=lfs -text
*.[jJ][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP]2 filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][fF] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][xX] filter=lfs diff=lfs merge=lfs -text
*.[jJ][xX][rR] filter=lfs diff=lfs merge=lfs -text
*.[jJ][xX][lL] filter=lfs diff=lfs merge=lfs -text
*.[kK]25 filter=lfs diff=lfs merge=lfs -text
*.[kK][dD][cC] filter=lfs diff=lfs merge=lfs -text
*.[kK][rR][aA] filter=lfs diff=lfs merge=lfs -text
*.[kK][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[kK][tT][xX]2 filter=lfs diff=lfs merge=lfs -text
*.[mM][eE][fF] filter=lfs diff=lfs merge=lfs -text
*.[mM][jJ]2 filter=lfs diff=lfs merge=lfs -text
*.[mM][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][sS] filter=lfs diff=lfs merge=lfs -text
*.[mM][rR][wW] filter=lfs diff=lfs merge=lfs -text
*.[nN][eE][fF] filter=lfs diff=lfs merge=lfs -text
*.[nN][rR][wW] filter=lfs diff=lfs merge=lfs -text
*.[oO][rR][aA] filter=lfs diff=lfs merge=lfs -text
*.[oO][rR][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][aA][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][cC][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][eE][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][gG][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][iI][cC] filter=lfs diff=lfs merge=lfs -text
*.[pP][iI][cC][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[pP][rR][oO][cC][rR][eE][aA][tT][eE] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][bB] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[pP][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][vV][rR] filter=lfs diff=lfs merge=lfs -text
*.[pP][xX][nN] filter=lfs diff=lfs merge=lfs -text
*.[qQ][oO][iI] filter=lfs diff=lfs merge=lfs -text
*.[rR]3[dD] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][fF] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=lfs -text
*.[rR][gG][bB] filter=lfs diff=lfs merge=lfs -text
*.[rR][gG][bB][aA] filter=lfs diff=lfs merge=lfs -text
*.[rR][wW]2 filter=lfs diff=lfs merge=lfs -text
*.[rR][wW][lL] filter=lfs diff=lfs merge=lfs -text
*.[sS][gG][iI] filter=lfs diff=lfs merge=lfs -text
*.[sS][kK][eE][tT][cC][hH] filter=lfs diff=lfs merge=lfs -text
*.[sS][rR]2 filter=lfs diff=lfs merge=lfs -text
*.[sS][rR][fF] filter=lfs diff=lfs merge=lfs -text
*.[sS][rR][wW] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[wW][dD][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[xX]3[fF] filter=lfs diff=lfs merge=lfs -text
*.[xX][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][cC][fF] filter=lfs diff=lfs merge=lfs -text
*.[xX][pP][mM] filter=lfs diff=lfs merge=lfs -text
